*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Arial, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color:rgb(174,105,56);
    background-repeat: no-repeat;
    color: #fff;
    font-family: Arial, sans-serif;
}
#titulo{
    text-align: center;
    padding-top: 3em;
    border: 0px solid blue;
    height: auto;
    width: auto;
    float: left;
    margin-left: 41em;
    margin-bottom: 3em;
}
#logo{
    width: 35em;
    border:0px yellow solid;
    margin-left: 0em;
}
.mensaje{
    clear: both;
    border:0px yellow solid;
    width: fit-content;
    margin-left: 52em;
    margin-top: 2em;
}
.borrado{
    clear: both;
    border:0px red solid;
    text-align: center;
    font-size: 2em;
}
.ok{
    clear: both;
    width: 15em;
}
.uno {
    color: black;
    margin-left:48em;
    margin-top:0em;
    clear: both;
    width: fit-content;
    text-align: left;
    padding: 0.5em 5em 1em 4em;
    border: rgb(150, 73, 1) solid 0.3em;
    background-color: white;
}
input {
    color:black;
    }
.boton {
       
    background-color: rgba(126, 124, 124, 0.411);
    padding: 5px;
    margin-left: 1.8em;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
    border-radius: 0.3em;
    
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgba(146, 78, 0, 0.61), rgba(255, 255, 255, 0.2)); /* Cambia el degradado cuando se pasa el cursor */
    box-shadow: inset 0 0 0.9em rgba(255, 255, 255, 0.3); /* Sombras interiores */
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    }
    .boton1 {
       
        background-color: rgba(126, 124, 124, 0.411);
        padding: 5px;
        margin-left:0em;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1em;
        border-radius: 0.3em;
        
        cursor: pointer;
        background-image: linear-gradient(to bottom, rgba(146, 78, 0, 0.61), rgba(255, 255, 255, 0.2)); /* Cambia el degradado cuando se pasa el cursor */
        box-shadow: inset 0 0 0.9em rgba(255, 255, 255, 0.3); /* Sombras interiores */
        font-weight: bold;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
        }

input {
    background-color: white;
    margin-top: 01em;
}
b{color: black;
padding-top: 2em;}
pre{
    margin-bottom: 0.8em;
}
/*
        
       
        input {
            color:black;
            background:rgb(184, 181, 181);
        }
        .boton {
            margin-bottom: 1em;
            height: 2em;
            width: 5em;
            font-size: 1em;
            font-weight: bold;
            background: rgb(167, 123, 141);
            color:white
        }
        fieldset {
            border: rgb(167, 123, 141) solid 0.2em;
            margin-right: 40em;
            margin-left: 40em;
            height: auto;
        }
        input {
            background-color: white;
            margin-top: 01em;
        }
    </style>*/